@at-root {
    :root {
    --swiper-navigation-size: 24px;
    //   --swiper-navigation-top-offset: 50%;
    //   --swiper-navigation-sides-offset: 10px;
      --swiper-navigation-color: var(--accent-blue);
      --swiper-pagination-color: var(--accent-blue);
    //   --swiper-pagination-left: auto;
    //   --swiper-pagination-right: 8px;
    //   --swiper-pagination-bottom: 8px;
    //   --swiper-pagination-top: auto;
    //   --swiper-pagination-fraction-color: inherit;
    //   --swiper-pagination-progressbar-bg-color: rgba(0,0,0,0.25);
    //   --swiper-pagination-progressbar-size: 4px;
      --swiper-pagination-bullet-size: 12px;
      --swiper-pagination-bullet-width: 12px;
      --swiper-pagination-bullet-height: 12px;
    //   --swiper-pagination-bullet-inactive-color: #000;
    //   --swiper-pagination-bullet-inactive-opacity: 0.2;
    //   --swiper-pagination-bullet-opacity: 1;
    //   --swiper-pagination-bullet-horizontal-gap: 4px;
    //   --swiper-pagination-bullet-vertical-gap: 6px;
    }
  }




.swiper-main .swiper-controls{
    position: absolute;
    height: 40px;
    width: 248px;
    left: calc(50% - 128px);
    bottom: 0;
}
@media (min-width: 468px) {
    .swiper-main .swiper-controls{
        bottom: 24px;
    }
}

.swiper-main .swiper-pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 8px;
    margin-bottom: 4px;
}

.swiper-main .swiper-pagination-bullet{
    height: 12px;
    width: 12px;
    background-color: #fff7;
}

.swiper-main .swiper-pagination-bullet-active{
    height: 16px;
    width: 16px;
    background-color: #fff;
}

.swiper-main .swiper-button-next,
.swiper-main .swiper-button-prev{
    height: 40px;
    width: 40px;
    top: 6px;
}

.swiper-main .swiper-button-next:after,
.swiper-main .swiper-button-prev:after{
    content: '';
    height: 24px;
    width: 24px;
    background-image: url('../img/icons/arrow.svg');
}

.swiper-main .swiper-button-prev:after{
    transform: rotate(180deg);
}

.swiper-default{
    padding-bottom: 30px;
}